<!Doctype html>
<html lang="en" ng-app="DBAdmin">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@ViewBag.Title</title>

        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/dashboard.css">
        <link rel="stylesheet" type="text/css" href="~/Content/blue.css">
        <link rel="stylesheet" type="text/css" href="~/Content/loading-bar.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/toastr.css">
        <link rel="stylesheet" type="text/css" href="~/Content/ng-table.css">
        <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker-bs3.css"/>
        <!--
            <link rel="stylesheet" type="text/css" href="css/themes/green.css">
            <link rel="stylesheet" type="text/css" href="css/themes/red.css">
            -->
        @RenderSection("styles", false)
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body data-ng-controller="MasterCtrl">
        <div id="page-wrapper" data-ng-class="{'active': toggle}" data-ng-cloak>

            <!-- Sidebar -->
            @Html.Partial("_SideBarPartial")

            <!-- End Sidebar -->

            <div id="content-wrapper">
                <div class="page-content">

                    <!-- Header Bar -->

                    <div class="row header">
                        <div class="col-xs-12">
                            <div class="meta pull-left">
                                <div class="page">
                                    Dashboard
                                </div>
                                <div class="breadcrumb-links">
                                    Home / Dashboard
                                </div>
                            </div>
                            <div class="user pull-right">
                                <div class="item dropdown">
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Header Bar -->
                    <!-- Main Content -->
                    @RenderBody()
                    <!-- End Main Content -->

                </div><!-- End Page Content -->
            </div><!-- End Content Wrapper -->
        </div><!-- End Page Wrapper -->
        @Scripts.Render("~/bundles/scripts");
        @Scripts.Render("~/bundles/appScripts");
        @RenderSection("scripts", false)
    </body>
</html>