@model DBAdmin.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="wrap">
    <div class="vertical">
        <img src="#" alt="LOGO">
        <h1>DB Management System</h1>
      
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@autocomplete = "off"}))
        {
              @Html.AntiForgeryToken()
            <fieldset>
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "UserName" })
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
            </fieldset>
            <input type="submit" id="login" value="Log In"/>
        }
        @if (!string.IsNullOrEmpty(@ViewBag.StatusMessage))
        {
                <p class="text-danger">@ViewBag.StatusMessage</p>
        }
     
    </div>
</div>